.listTitle {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #FF4081;
  color: white;
  padding: 5px;
}

.empty {
  font-size: 120px;
  margin-top: 200px;
  margin-bottom: 200px;
  transform: rotate(0.75turn)
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.list {
  height: auto;
  width: 300px;
}

.mobileCard {
  width: fit-content;
}

.dayTitle {
  text-align: center;
}

.flex {
  display: flex;
}

.primaryText {
  color: #212121
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.listElement {
  margin: 10px;
  box-shadow: 0px 3px 6px #888888;
  border-radius: 3px;
}